<div class="container-friend">
    <div class="header">
        <div class="profile-img">
            <%= image_tag @friend.gravatar_url %>
        </div>
        <%= @friend.username %>
    </div>
    <div class="profile-frieds-list">
        <% @friend.friends.last(6).each do |friend| %>
            <div class="friend">
                <%= link_to friend_path(friend) %>
                    <div class="profile-img">
                        <%= image_tag friend.gravatar_url %>
                    </div>
                    <%= friend.username %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="posts">
        <% @friend.posts.each do |post| %>
            <div class="post">
                <div class="author">
                    <div class="profile-img">
                        <%= image_tag author.gravatar_url %>
                    </div>
                    <%= linkt_to post.author, user_path(post.author) %>
                </div>
                <%= link_to post_path(post) %>
                    <h3 class="post-topic">
                        <%= post.title %>
                    </h3>
                    <p class="post-content">
                        <%= post.content %>
                    </p>
                <% end %>
                <div class="likes-comments">
                    <div class="likes">
                        <%= post.likes_number %>
                        <%= link_to 'Likes', "/post/#{post.id}/like" %>
                    </div>
                    <div class="comments-btn">
                        <%= post.comments_count %>
                        Comments
                    </div>
                </div>
                <div class="comments hidden">
                    <%= post.comments.last(10).each do |comment| %>
                        <div class="comment">
                            <h6 class="comment-author">
                                <div class="profile-img">
                                    <%= image_tag comment.user.gravatar_url %>
                                </div>
                                <%= comment.user %> 
                            </h6>
                            <%= comment.content %>
                        </div>
                    <% end %>
                    <%= form_with model: @comment do |f| %>
                        <%= f.text_field :content, placeholder: 'Write a comment...' %>
                        <%= f.submit 'Send' %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>